/* GERAL
***************/
html{
  font-size: 120%;
}

body {
  font-family: "Crimson Text", "Times New Roman", serif;
  background-color: #F2FFFC;
  line-height: 1.5;
}

h1, h2 {
  font-family: "Open Sans Condensed", "Arial", sans-serif;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.titulo-principal {
  text-align: center;
  background-color: #851944;
  color: #FFF;
  padding: 2rem;
  border-bottom: .5rem solid black;
  font-size: 300%;
  text-transform: uppercase;
}

/* CONTAINER
***************/

.minha-foto{
    float: right;
    /*width: 15%;*/
    box-sizing: border-box;
    border-left: 10px solid #000000;
    border-bottom: 10px solid #000000;
    position: absolute;
    top: 0;
    right: 0;
}

.navegacao-site {
  text-align: center;
  background-color: #3C1D3D;
  color: #F2FFFC;
    padding: 20px;
    float: right;
    clear: right;
    box-sizing: border-box;
    border-left: 10px solid #000000;
    border-bottom: 10px solid #000000;
    position: relative;
    top: 310px;
    width: 15%;

}

.navegacao-site-title {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.nav-des-link{
  text-transform: lowercase;
}

.icones-redes-sociais li {
  display: inline-block;
}

.icones-redes-sociais a {
  width: 2em;
  height: 2em;
  display: block;
  text-indent: -99999px;
}

.github {
  background-image: url(../img/github.png);
}

.twitter {
  background-image: url(../img/twitter.png);
}

.linkedin {
  background-image: url(../img/linkedin.png);
}

.navegacao-site a {
  color: inherit;
  font-family: "Open Sans Condensed", sans-serif;
}

.subtitulo-texto {;
  font-size: 1.5em;
  clear: both;
}

.main-container{
    float: left;
    width: 85%;
}

.main-link{
  color: #851944;
}

.main-div-container{
  width: 800px;
  margin: auto;
  padding: 1em 0;
  padding-bottom: 90px;
}

.div-container-text{
  width: 50ch;
}


/* FOOTER
***************/

.footer-page{
  background-color: #000;
  color: #F2FFFC;
    padding: 1em;
    clear: both;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}
